In [2]:
# ライブラリのimport
import numpy as np
import pandas as pd
# 表示桁数の指定
%precision 3
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()
# グラフをjupyter notebook内に表示
%matplotlib inline
# ライブラリのimport
import scipy as sp
from scipy import stats

In [4]:
click_data = pd.read_csv("3-10-1-click_data.csv")

In [5]:
click_data

  color  click  freq
0  blue  click    20
1  blue    not   230
2   red  click    10
3   red    not    40

In [8]:
cross = pd.pivot_table(
    data = click_data,
    values = "freq",
    aggfunc = "sum",
    index = "color",
    columns = "click"
)

In [9]:
cross

click  click  not
color
blue      20  230
red       10   40

In [10]:
# カイ二乗, p値, 自由度, 期待度数表
sp.stats.chi2_contingency(cross, correction = False)

(6.667, 0.010, 1, array([[ 25., 225.],
        [  5.,  45.]]))