In [1]:
# ライブラリのimport
import numpy as np
import pandas as pd
# 表示桁数の指定
%precision 3
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()
# グラフをjupyter notebook内に表示
%matplotlib inline
# ライブラリのimport
import scipy as sp
from scipy import stats
import statsmodels.formula.api as smf
import statsmodels.api as sm
# 表示桁数の指定
%precision 3

/Users/Takanori/anaconda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

'%.3f'

In [47]:
sales = pd.read_csv("5-3-1-lm-model.csv")
sales.head()

   humidity  price  sales  temperature weather
0      29.5    290  229.7         17.8   rainy
1      38.1    290  206.1         26.1   rainy
2      31.5    290  202.5         22.0   rainy
3      39.7    290  195.5         23.0   rainy
4      24.7    290  214.4         14.5   rainy

In [48]:
target = sales[['sales']]

In [50]:
sales_model = sales.copy()

In [51]:
sales_model

    humidity  price  sales  temperature weather
0       29.5    290  229.7         17.8   rainy
1       38.1    290  206.1         26.1   rainy
2       31.5    290  202.5         22.0   rainy
3       39.7    290  195.5         23.0   rainy
4       24.7    290  214.4         14.5   rainy
5       27.2    290  174.4         20.8   rainy
6       29.3    290  238.6         23.7   rainy
7       26.4    290  190.8         15.2   rainy
8       27.9    290  211.2         18.7   rainy
9       38.0    290  204.5         20.2   rainy
10      26.9    290  221.7         13.1   rainy
11      28.9    290  179.0         21.6   rainy
12      37.9    290  208.2         24.2   rainy
13      27.7    290  197.1         15.7   rainy
14      29.4    290  227.2         21.8   rainy
15      30.7    290  183.6         13.4   rainy
16      33.8    290  205.2         19.8   rainy
17      25.8    290  185.1         11.9   rainy
18      39.6    290  215.4         25.6   rainy
19      33.6    290  219.1         22.0   rainy
20      36.8    290  191.4         19.9   rainy
21      31.2    290  220.5         16.1   rainy
22      40.5    290  229.2         26.4   rainy
23      38.2    290  227.3         29.8   rainy
24      22.8    290  210.4         10.7   rainy
25      43.1    290  205.2         26.2   rainy
26      35.2    290  215.9         28.1   rainy
27      32.4    290  196.0         21.7   rainy
28      26.3    290  196.8         14.0   rainy
29      34.0    290  221.1         24.3   rainy
..       ...    ...    ...          ...     ...
70      30.6    315  191.5         16.8   sunny
71      37.3    315  214.8         24.5   sunny
72      39.8    315  234.5         32.6   sunny
73      31.9    315  228.7         18.8   sunny
74      27.5    315  222.0         20.2   sunny
75      26.7    315  185.3         18.9   sunny
76      29.7    315  220.4         26.7   sunny
77      32.9    315  227.7         18.6   sunny
78      31.3    315  224.5         23.4   sunny
79      33.2    315  226.5         18.4   sunny
80      23.8    315  206.0         13.6   sunny
81      29.6    315  215.9         21.6   sunny
82      31.8    315  222.8         22.5   sunny
83      36.7    315  231.0         26.5   sunny
84      29.8    315  219.3         19.4   sunny
85      28.8    315  215.1         16.9   sunny
86      31.7    315  210.3         22.8   sunny
87      31.3    315  224.1         21.2   sunny
88      27.5    315  220.5         21.4   sunny
89      30.0    315  233.5         19.6   sunny
90      32.9    315  241.9         25.8   sunny
91      30.9    315  221.9         21.8   sunny
92      37.2    315  222.8         29.5   sunny
93      31.3    315  214.1         25.6   sunny
94      31.7    315  227.3         23.3   sunny
95      24.2    315  208.4         11.9   sunny
96      33.1    315  215.4         23.0   sunny
97      33.6    315  220.2         22.1   sunny
98      29.6    315  212.6         24.1   sunny
99      34.9    315  233.7         25.2   sunny

[100 rows x 5 columns]

In [52]:
del sales['sales']

In [53]:
names = sales.columns.values
target = target.columns.values

In [54]:
names

array(['humidity', 'price', 'temperature', 'weather'], dtype=object)

In [55]:
target

array(['sales'], dtype=object)

In [56]:
type(names)

numpy.ndarray

In [57]:
names

array(['humidity', 'price', 'temperature', 'weather'], dtype=object)

In [60]:
variable = ""

for i in range(0, len(names)):
    
    if i == 0:
        variable += str(names[i])
    else:
        variable += "+"+str(names[i])

In [61]:
formula = ""
formula = "sales~"+variable

In [62]:
formula

'sales~humidity+price+temperature+weather'

In [63]:
# モデルを作成
lm_sales2 = smf.ols(formula, data=sales_model).fit()

In [64]:
sm.stats.anova_lm(lm_sales2, typ=2).round(3)

                sum_sq    df       F  PR(>F)
weather       5845.878   1.0  32.208   0.000
humidity        56.425   1.0   0.311   0.578
price          818.402   1.0   4.509   0.036
temperature   2378.017   1.0  13.102   0.000
Residual     17242.717  95.0     NaN     NaN